@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/opensans/OpenSans-Light.ttf');
  src: url('../assets/opensans/OpenSans-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'OpenSans', sans-serif;
}